## Pandas for Data Cleaning and Exploratory Data Analysis

In [2]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [3]:
# Let's explore our data folder
home = Path.cwd()

In [4]:
datadir = Path.joinpath(home.parent, 'data')

In [5]:
# contents of datadir?
os.listdir(datadir)

['old-faithful.csv',
 'collegeadmissions.csv',
 'u.item',
 'yelp.json',
 'msleep.csv',
 'beer.txt',
 '.DS_Store',
 'Production.ProductSubcategory.csv',
 'drinks.csv',
 'apply functions in pandas.ipynb',
 'imdb_1000.csv',
 'imdb_ids.txt',
 'oracle_10k.csv',
 'drinks_updated.csv',
 'airlines.csv',
 'u.data',
 'ozone.csv',
 'vti.csv',
 'user.tbl',
 'ufo.csv',
 'u.user_original',
 'rossmann-stores.csv',
 'Sales.SalesOrderHeader.csv',
 'titanic.csv',
 'wine.csv',
 'student_comments.csv',
 'haystack.csv',
 'drones.csv',
 'movie_ratings.tsv',
 'mtcars.csv',
 'u.user',
 'bikeshare.csv',
 'hitters.csv',
 'features.csv',
 'NBA_players_2015.csv',
 'Sales.SalesOrderDetail.csv',
 'Production.Product.csv',
 'chipotle.tsv',
 'bank-additional.csv',
 'vehicles_train.csv',
 'vehicles_test.csv',
 'stores.csv']

In [6]:
# create a path to our datafile
filepath = Path.joinpath(datadir, 'Production.Product.csv')

In [7]:
# read the data into Pandas as a dataframe
prod = pd.read_csv(filepath, sep='\t')
prod.head()

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000
4,316,Blade,BL-2036,1,0,NaN,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000

## A little bit of EDA

In [8]:
# rows and cols
prod.shape

(504, 25)

In [9]:
# reset the index
prod.set_index('ProductID', inplace=True)
# call a few rows to make sure that took
prod.sample(4)

,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
ProductID,,,,,,,,,,,,,,,,,,,,,
747,"HL Mountain Frame - Black, 38",FR-M94B-38,1,1,Black,500,375,739.0410,1349.60,38,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,NaN,NaN,{0C548577-3171-4CE2-B9A0-1ED526849DE8},2014-02-08 10:01:36.827000000
748,"HL Mountain Frame - Silver, 38",FR-M94S-38,1,1,Silver,500,375,747.2002,1364.50,38,...,M,H,U,12.0,5.0,2011-05-31 00:00:00,NaN,NaN,{F246ACAA-A80B-40EC-9208-02EDEF885129},2014-02-08 10:01:36.827000000
885,"HL Touring Frame - Yellow, 60",FR-T98Y-60,1,1,Yellow,500,375,601.7437,1003.91,60,...,T,H,U,16.0,7.0,2013-05-30 00:00:00,NaN,NaN,{C49679BD-96A9-4176-A7ED-5BC6D6444647},2014-02-08 10:01:36.827000000
329,Road End Caps,EC-R098,1,0,NaN,1000,750,0.0000,0.00,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{88399D13-719E-4545-81D6-F0650F372FA2},2014-02-08 10:01:36.827000000

In [10]:
# describe the numeric variables in my dataset
prod.describe()

,MakeFlag,FinishedGoodsFlag,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Weight,DaysToManufacture,ProductSubcategoryID,ProductModelID,DiscontinuedDate
count,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,205.000000,504.000000,295.000000,295.000000,0.0
mean,0.474206,0.585317,535.150794,401.363095,258.602961,438.666250,74.069220,1.103175,12.294915,37.444068,NaN
std,0.499830,0.493157,374.112954,280.584715,461.632808,773.602843,182.166588,1.492616,9.860135,34.025442,NaN
min,0.000000,0.000000,4.000000,3.000000,0.000000,0.000000,2.120000,0.000000,1.000000,1.000000,NaN
25%,0.000000,0.000000,100.000000,75.000000,0.000000,0.000000,2.880000,0.000000,2.000000,11.000000,NaN
50%,0.000000,1.000000,500.000000,375.000000,23.372200,49.990000,17.900000,1.000000,12.000000,26.000000,NaN
75%,1.000000,1.000000,1000.000000,750.000000,317.075825,564.990000,27.350000,1.000000,17.000000,48.500000,NaN
max,1.000000,1.000000,1000.000000,750.000000,2171.294200,3578.270000,1050.000000,4.000000,37.000000,128.000000,NaN

In [13]:
# describe a particular column with frequencies of categories
prod['Color'].value_counts(dropna=False).sort_index()

Black            93
Blue             26
Grey              1
Multi             8
Red              38
Silver           43
Silver/Black      7
White             4
Yellow           36
NaN             248
Name: Color, dtype: int64

In [15]:
# call just the colors?
list(prod['Color'].value_counts().index)

['Black',
 'Silver',
 'Red',
 'Yellow',
 'Blue',
 'Multi',
 'Silver/Black',
 'White',
 'Grey']

In [17]:
# give a little info about all the columns
prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504 entries, 1 to 999
Data columns (total 24 columns):
Name                     504 non-null object
ProductNumber            504 non-null object
MakeFlag                 504 non-null int64
FinishedGoodsFlag        504 non-null int64
Color                    256 non-null object
SafetyStockLevel         504 non-null int64
ReorderPoint             504 non-null int64
StandardCost             504 non-null float64
ListPrice                504 non-null float64
Size                     211 non-null object
SizeUnitMeasureCode      176 non-null object
WeightUnitMeasureCode    205 non-null object
Weight                   205 non-null float64
DaysToManufacture        504 non-null int64
ProductLine              278 non-null object
Class                    247 non-null object
Style                    211 non-null object
ProductSubcategoryID     295 non-null float64
ProductModelID           295 non-null float64
SellStartDate            504 non-null object
SellEndDate              98 non-null object
DiscontinuedDate         0 non-null float64
rowguid                  504 non-null object
ModifiedDate             504 non-null object
dtypes: float64(6), int64(5), object(13)
memory usage: 98.4+ KB

## What about Missing Data?

In [19]:
# How do we find missing data
prod.notnull().head(3)

,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
ProductID,,,,,,,,,,,,,,,,,,,,,
1,True,True,True,True,False,True,True,True,True,False,...,False,False,False,False,False,True,False,False,True,True
2,True,True,True,True,False,True,True,True,True,False,...,False,False,False,False,False,True,False,False,True,True
3,True,True,True,True,False,True,True,True,True,False,...,False,False,False,False,False,True,False,False,True,True

In [20]:
# Another method
prod.isnull().head(3)

,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
ProductID,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,True,False,False,False,False,True,...,True,True,True,True,True,False,True,True,False,False
2,False,False,False,False,True,False,False,False,False,True,...,True,True,True,True,True,False,True,True,False,False
3,False,False,False,False,True,False,False,False,False,True,...,True,True,True,True,True,False,True,True,False,False

In [32]:
# you can count missing data by columns
prod.isnull().sum()
prod.isnull().sum().sort_values(ascending=False)
prod.isnull().sum().sort_index(ascending=True)

Class                    257
Color                    248
DaysToManufacture          0
DiscontinuedDate         504
FinishedGoodsFlag          0
ListPrice                  0
MakeFlag                   0
ModifiedDate               0
Name                       0
ProductLine              226
ProductModelID           209
ProductNumber              0
ProductSubcategoryID     209
ReorderPoint               0
SafetyStockLevel           0
SellEndDate              406
SellStartDate              0
Size                     293
SizeUnitMeasureCode      328
StandardCost               0
Style                    293
Weight                   299
WeightUnitMeasureCode    299
rowguid                    0
dtype: int64

In [26]:
prod['Style'].value_counts(dropna=False)

NaN    293
U      176
W       28
M        7
Name: Style, dtype: int64

### How do we handle missing data in our dataframe?

#### Option 1. Drop it

In [39]:
# read back in the dataset
prod = pd.read_csv(filepath, sep='\t')
prod.head(2)

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000

In [40]:
# define a new dataframe
prod = prod.dropna(subset=['Color', 'Style'])
print(prod.shape)
print(newprod.shape)

(504, 25)
(211, 25)

In [35]:
# Let's drop any row that has a missing value for color
print(prod.shape)
prod.dropna(subset=['Color', 'Style'], inplace=True)
print(prod.shape)

(256, 24)
(211, 24)

In [36]:
# Drop all missing data in every column
print(prod.shape)
prod.dropna(inplace=True)
print(prod.shape)

(211, 24)
(0, 24)

### Option 2. "Impute" it -- i.e., provide a value in place of missing

In [106]:
prod = pd.read_csv(filepath, sep='\t')
prod.head(2)

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000

In [51]:
# the opposite of dropna is fillna
prod['Color'].fillna(value='GREY', inplace=True)
prod.sample(4)

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
322,818,LL Road Front Wheel,FW-R623,1,1,Black,500,375,37.9909,85.565,...,R,L,NaN,17.0,49.0,2012-05-30 00:00:00,2013-05-29 00:00:00,NaN,{9E66DE78-DECB-438A-B9A9-023C773C60A2},2014-02-08 10:01:36.827000000
3,4,Headset Ball Bearings,BE-2908,0,0,GREY,800,600,0.0000,0.000,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000
131,453,Lock Nut 20,LN-5811,0,0,GREY,1000,750,0.0000,0.000,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{2749030E-49B7-4B24-8D47-FBCF194ABA38},2014-02-08 10:01:36.827000000
112,434,Thin-Jam Lock Nut 7,LJ-7161,0,0,GREY,1000,750,0.0000,0.000,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{344AD07C-CCA5-4374-A3F3-8A7E0A1D9916},2014-02-08 10:01:36.827000000

In [56]:
# here's another way to do this without using in place
prod = prod.fillna(value={'Color': 'NO COLOR'})
prod.head(3)

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NO COLOR,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000
1,2,Bearing Ball,BA-8327,0,0,NO COLOR,1000,750,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000
2,3,BB Ball Bearing,BE-2349,1,0,NO COLOR,800,600,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00,NaN,NaN,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000

In [63]:
# What about numeric values?
prod.isnull().sum()

ProductID                  0
Name                       0
ProductNumber              0
MakeFlag                   0
FinishedGoodsFlag          0
Color                      0
SafetyStockLevel           0
ReorderPoint               0
StandardCost               0
ListPrice                  0
Size                     293
SizeUnitMeasureCode      328
WeightUnitMeasureCode    299
Weight                   299
DaysToManufacture          0
ProductLine              226
Class                    257
Style                    293
ProductSubcategoryID     209
ProductModelID           209
SellStartDate              0
SellEndDate              406
DiscontinuedDate         504
rowguid                    0
ModifiedDate               0
dtype: int64

In [65]:
# Let's replace NaN with the average weight of the entire dataframe
average_weight = prod['Weight'].mean()

In [66]:
# Use that in a fillna statement
prod = prod.fillna(value={'Weight': average_weight})

In [67]:
# Now check for missing data
prod.isnull().sum()

ProductID                  0
Name                       0
ProductNumber              0
MakeFlag                   0
FinishedGoodsFlag          0
Color                      0
SafetyStockLevel           0
ReorderPoint               0
StandardCost               0
ListPrice                  0
Size                     293
SizeUnitMeasureCode      328
WeightUnitMeasureCode    299
Weight                     0
DaysToManufacture          0
ProductLine              226
Class                    257
Style                    293
ProductSubcategoryID     209
ProductModelID           209
SellStartDate              0
SellEndDate              406
DiscontinuedDate         504
rowguid                    0
ModifiedDate               0
dtype: int64

### More tricks about missing data

In [110]:
# A method for looking at an individual
prod['Style'].sample(3)

424     U
475     U
7      NaN
Name: Style, dtype: object

In [111]:
# I can use indexing to call an individual cell
prod['Style'][424]

'U '

In [112]:
# But ... what if I want to manipulate that cell?
prod['Style'][424] = 'Nationals'

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [115]:
# There's another way to call a single cell
prod.loc[424, 'Style'] = 'Unisex'
prod.loc[424, 'Style']

'Unisex'

In [116]:
# but... what if it's a null value?
prod.loc[2, 'Style']

nan

In [118]:
# what is the cell type?
type(prod.loc[2, 'Style'] )

float

In [119]:
# a few methods for testing for missing data
pd.isnull(prod.loc[2, 'Style'] )

True

In [120]:
pd.isna(prod.loc[2, 'Style'] )

True

In [121]:
np.isnan(prod.loc[2, 'Style'] )

True

In [122]:
# Let's reassign as "None"
prod.loc[2, 'Style'] = None
prod.loc[2, 'Style']

In [123]:
type(prod.loc[2, 'Style'] )

NoneType

In [124]:
pd.isnull(prod.loc[2, 'Style'] )

True

In [125]:
prod.loc[2, 'Style'] == np.nan
prod.loc[2, 'Style']

In [126]:
type(prod.loc[2, 'Style'] )

NoneType

## A few column operations

In [134]:
# what if I want to create some new columns?
prod['ListPrice'].sample(3)

154       0.00
478    1700.99
339     594.83
Name: ListPrice, dtype: float64

In [136]:
# Let's create sales price
prod['SalesPrice'] = prod['ListPrice']*.80

In [137]:
prod[['SalesPrice', 'ListPrice']].sample(5)

     SalesPrice  ListPrice
491     451.992    564.990
165       0.000      0.000
6         0.000      0.000
11        0.000      0.000
323     198.708    248.385

In [141]:
# Concatenation of columns
prod['Style'].value_counts()
prod['ColorStyle'] = prod['Style'] + prod['Color']
prod[['ColorStyle', 'Style', 'Color']].sample(5)

    ColorStyle Style   Color
224      U Red    U      Red
31         NaN   NaN  Silver
295      U Red    U      Red
253      U Red    U      Red
400     U Blue    U     Blue

In [143]:
prod['Style'].value_counts().index

Index(['U ', 'W ', 'M ', 'Unisex'], dtype='object')

In [146]:
# A few other column create tricks
prod['newcolor'] = prod['Color'].map({'Black':'BLACK', 'Blue':'Aquamarine'})

In [150]:
prod[['newcolor', 'Color']].sample(5)

       newcolor   Color
176         NaN     NaN
388         NaN  Yellow
25          NaN     NaN
83          NaN     NaN
407  Aquamarine    Blue

In [154]:
# Write a custom function
def color_to_letter(color):
    color_dict = {
        'Black': 'B',
        'Silver': 'S',
        'Red': 'R',
        'Blue': 'B'
    }
    try:
        return color_dict[color]
    except:
        return 'N'

In [157]:
def color2letter(row):
    if row == 'Red':
        return 'R'
    elif row == 'Blue':
        return 'B'
    else:
        return 'Not red or blue'

In [158]:
prod['NewColor'] = prod['Color'].apply(color2letter)

In [159]:
prod[['NewColor', 'Color']].sample(5)

            NewColor   Color
456  Not red or blue  Silver
116  Not red or blue     NaN
258                R     Red
495  Not red or blue   Black
254                R     Red

In [ ]:
# Try creating your own column using .apply
# Open any dataframe in the 'data' folder and handle missing data.